*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    height: auto;
    margin: 30px;
    padding: 10px;
    border-style:groove;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
form{
    display:grid;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
.required {
    color: red;
  }

 